* {
    box-sizing: border-box;
}    
@font-face {
    font-family: 'league_gothicCnRg';
    src: url('../fonts/leaguegothic-condensedregular-webfont.eot');
    src: url('../fonts/leaguegothic-condensedregular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/leaguegothic-condensedregular-webfont.woff2') format('woff2'),
         url('../fonts/leaguegothic-condensedregular-webfont.woff') format('woff'),
         url('../fonts/leaguegothic-condensedregular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'open_sanslight';
    src: url('../fonts/opensans-light-webfont.eot');
    src: url('../fonts/opensans-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans-light-webfont.woff2') format('woff2'),
         url('../fonts/opensans-light-webfont.woff') format('woff'),
         url('../fonts/opensans-light-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
body {
    font-family: 'league_gothicCnRg', sans-serif;
}
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
a {
    text-decoration: none;
    cursor: pointer;
}
.clearfix:after {
    content: "";
    clear: both;
    display: block;
}
.wrapper {
    display: table;
    height: 100%;
    width: 100%;
    overflow: hidden;
    table-layout: fixed;
}
.w1 {
    display: table-row;
    height: 100%;
 }
.container {
    width: 960px;
    margin: 0 auto;
}

/*HEADER*/

header {
    padding-top: 70px;
    padding-bottom: 170px;
    border-bottom: 1px solid #33253a;
    background: url('../image/background.jpg') 41% 50% no-repeat;
    background-size: cover;
}
.logo {
    display: inline-block;
}
.heder-menu {
    float: right;
    margin-top: 8px;
}
.menu li {
    float: left;
    font-size: 24px;
    display: inline-block;
    padding-left: 52px;  
}
.menu a {
    color: #ffffff;
}
.menu a:hover {
    border-bottom: 2px solid #edbfff;
    color: #553c61;
}
.drop-down__menu {
    display: none;
}
.header-slider {
    margin-top: 110px;
    padding: 78px 0 160px;
    background: rgba(0, 0, 0, .2);
}
.header-title {
    position: relative;
    padding-right:305px;
}
.header-item {
    font-size: 60px;
    color: #fff;
}
.subtitle {
    margin: 0;
    font-size: 33px;
    color: #edbfff;
}
.news {
    font-family: 'open_sanslight';
    font-size: 25px;
    color: #fff;
}
.phone {
    position: absolute;
    top:-100px;
    left: 675px;
}
 /*MAIN*/

.about-company {
    padding: 65px 0 80px;
    border-top: 1px solid #33253a;
    border-bottom: 1px solid #1d2f37;
    background: linear-gradient(to bottom, rgba(116,80,130,1) 0%, rgba(50,37,57,1) 100%);
}
.company {
    float: left;
    position: relative;
    width: 266px;
    margin-right: 54px;
    padding-left: 64px;
}
.company-title {
    margin: 0;
    font-size: 30px;
    color: #fff;
}
.company-info {
    font-family: 'open_sanslight';
    font-size: 16px;
    line-height: 24px;
    color: #f1f0f1;
}
.company-more {
    float: right;
    font-size: 18px;
    color: #fff;
}
.company-more:hover {
    background: -webkit-box-shadow: -1px 0px 5px 6px rgba(255,255,255,1);
-moz-box-shadow: -1px 0px 5px 6px rgba(255,255,255,1);
box-shadow: -1px 0px 5px 6px rgba(255,255,255,1);
    color: #f1ccff;
    opacity: .8;
}
.settings:after,
.recall:after,
.music:after {
  content: "";
  position: absolute;
  top: 0px;
  left: 11px;
  width: 30px;
  height: 30px;
  background: url("../img/sprite-icons.png");
}
.settings:after {
    background-position: -34px 0;
}
.recall:after {
    background-position: 34px 0;
}
.music:after {
    background-position: 0 0;
}
.user-section {
    background: #f9f9f9;
    border-top: 1px solid #0d151b;
}
.user-info {
    position: relative;
    float: left;
    width: 443px;
    margin-left: 23px;
    margin-top: 85px;
    padding: 32px 43px 40px 40px;
    background: #fff;
    border: 1px solid #f6f6f6;
}
.user-info:before {
    content: '';
    border: 10px solid transparent;
    border-top: 10px solid #ffffff;
    border-right: 10px solid #ffffff;
    position: absolute;
    right: 40px;
    bottom: -20px;
}
.img-face {
    position: absolute;
    top: 24px;
    left: -24px; 
}
.title {
    margin: 0;
    font-size: 30px;
    padding-right: 5px;
    color: #454545;
}
.title-color {
    font-size: 30px;
    color: #edbfff;
}
.text {
    font-family: 'open_sanslight';
    font-size: 16px; 
    padding-top: 20px;
    line-height: 24px;
    color: #454545;
}
.updates {
    float: right;
    width: 460px;
    margin: 115px 10px 70px 23px;
}
.updates-title {
    padding-top: 10px;
    font-size: 30px;
    color: #454545;
}
.update {
    padding-top: 20px;
    overflow: hidden;
}
.circle-img {
    float: left;
    width: 50px;
    height: 50px;
    margin-right: 18px;
}
.sub-link {
    font-family: 'open_sanslight';
    font-weight: bold;
    font-size: 16px;
    color: #454545;
}
.sub-link:hover {
    color: #735082;
    opacity: 0.8;
}
.update p {
    font-family: 'open_sanslight';
    font-size: 16px;
    color: #454545;
    margin-top: 0;
    margin-bottom: 25px;
}
.updates-more {
    font-size: 18px;
    display: inline-block;
    float:right;
    padding-top: 12px;
    color: #454545;
    text-align: right;
}
.updates-more:hover {
    color: #735082;
    opacity: 0.8;
}
.brands {
    margin: 0 auto;
    background: #f9f9f9;
    text-align: center;
    border-top: 2px solid #d8d8d8;
    border-bottom: 2px solid #d8d8d8;
}
.brand {
    display: inline-block;
    padding: 25px 35px;
    vertical-align: middle;
}
.brand:hover {
    opacity: .7;
    transition: all .3s;
}
.description {
    background: #ececec;
    border-top: 1px solid #e6e6e6;
    padding: 100px 0 100px;
}
.description__item,
.description__item1 {
    float: left;
    width: 275px;
    margin-right: 60px;
}
.description__item1:last-child {
    margin-right: 0;
}
.copy__title {
    font-size: 48px;
    color: #454545;
}
.description__title {
    font-size: 30px;
    color: #454545;
}
.copy__title__end {
    font-size: 48px;
    color: #b9b9b9;
}
.copyright {
    font-family: Georgia, Arial, sans-serif;
    font-size: 16px;
    font-style: italic;
    padding-bottom: 5px;
    color: #c5c5c5;
}
.article,
.article1 {
    font-family: 'open_sanslight';
    font-size: 16px;
    line-height: 24px;
    color: #787878;
}

/*FOOTER*/

footer {
    overflow: hidden;
    background: url('../image/footer-fon.jpg');
    background-position: center center;
    background-size: cover;
    padding: 45px 0 45px;
}
.menu-footer {
    float: left;
    font-size: 20px;
}
.menu-footer li{
    display: inline-block;
    padding-left: 52px;
}
.menu-footer li:first-child {
    padding: 0;
}
.menu-footer a {
    color: #fff;
}
.menu-footer a:hover {
    border-bottom: 2px solid #edbfff;
    color: #553c61;
}
.designer {
    font-family: 'open_sanslight';
    font-size: 12px;
    color: #fff;
    float: right;
    margin: 5px 0;
}
.designer span {
    font-family: 'open_sanslight';
    font-size: 12px;
    color: #fff;
    font-weight: bold;
    padding-left: 3px;
}

/* RESPONSIVE DESIGN */

@media(max-width:960px) {
    .container {
        width: 768px;
        padding: 0 20px;
    }
    header {
        padding-bottom: 136px;
    }
    .logo {
        float: none;
        margin-bottom: 25px;
    }
    .heder-menu {
        float: none;
        margin-bottom: 70px;
    }
    .menu a {
        font-size: 24px;
    }
    .menu li:first-child {
        padding: 0;
    }
    .header-slider {
        padding: 95px 0 105px;
    }
    .header-title {
        padding: 0 350px 0 0;
    }
    .header-item {
        font-size: 44px;
    }
    .subtitle {
        font-size: 24px;
        margin-bottom: 10px;
    }
    .news {
        font-size: 16px;
        line-height: 24px;
    }
    .phone {
        position: absolute;
        top: -120px;
        left: 500px;
    }
    .company {
        width: 222px;
        margin-right: 20px;
        padding-left: 55px;
    }
    .company-title {
        font-size: 24px;
    }
    .user-info {
        width: 338px;
        padding: 20px 10px 40px 30px;
    }
    .title {
        padding-right: 220px;
        padding-left: 5px;
        font-size: 24px;
    }
    .title-color {
        font-size: 24px;
        padding-left: 5px;
    }
    .user-info:before {
        display: none;
        content: "";
    }
    .text {
        padding-top: 8px;
    }
    .updates {
        margin-top: 108px;
        width: 334px;
    }
    .update p {
        margin-top: 0;
        margin-bottom: 15px;
        padding-left: 68px;
    }
    .sub-link {
        font-weight: 900;
    }
    .brand {
        padding: 20px 23px;
    }
    .description {
        padding: 60px 0 100px;
    }
    .description__item,
    .description__item1 {
        width: 204px;
        margin-right: 58px;
    }
    .copy__title {
        font-size: 24px;
    }
    .copy__title__end {
        font-size: 24px;
    }
    .description__title {
        font-size: 24px;
    }
    .designer {
        margin-top: 60px;
        margin-right: 60px;
    }
    .menu-footer {
        padding: 10px 0 70px;
    }
}

/* RESPONSIVE DESIGN */

@media(max-width: 768px) {
    .container {
        width: 480px;
    }
    header {
        padding-bottom: 100px;
    }
    .logo {
        display: block;
        width: 155px;
        margin: 0 auto;
        padding-bottom: 25px;
    }
    .heder-menu {
        margin-bottom: 80px;
    }
    .menu {
        display: none;
    }
    .drop-down__menu {
        overflow: hidden;
        position: absolute;
        margin: 0 98px;
        width: auto;
        display: block;
        border-radius: 8px;
        text-align: center;
        z-index: 100;
    }
    .drop-down__menu:hover {
        background: rgba(68, 54, 74, 0.8); 
    }
    .menu-home {
        width: 245px;
        padding: 3px;
        font-size: 24px;
        display: block;
        color: #fff;
    }
    .menu-home:hover{
        background: rgba(68, 54, 74, 0.9);
        padding-bottom: 1px;
        border-bottom: 2px solid #edbfff;
    }
    .drop-down li:hover{
        border-bottom: 2px solid #edbfff;
        background: rgba(68, 54, 74, 0.9);
    }
    .menu-home:hover + ul {
        display: block;
    }
    .drop-down {
        display: none;
    }
    .drop-down:hover {
        display: block;
    }
    .drop-down li {
        border-top: 1px solid #513d58;
        border-bottom: 2px solid #36283e;
        padding: 3px 50px;
    }
    .drop-down a {
        font-size: 24px;
        color: #fff;
    }
    .header-slider { 
        margin: 0;
        padding: 90px 0 185px;
    }
    .header-title {
        padding: 0 205px 0 0;
    }
    .phone {
        position: absolute;
        top: -110px;
        left: 225px;
    } 
    .header-item {
        font-size: 40px;
    }
    .subtitle {
        font-size: 18px;
    }
    .news {
        display: none;
    }
    .about-company {
        padding: 65px 0 85px;
    }
    .company {
        float: none;
        width: 100%;
        margin-bottom: 50px;
    }
    .company-info {
        margin: 0 0 10px 0;
        width: 412px;
    }
    .company-more {
        position: absolute;
        top: 120px;
        right: 0;
    }
    .user-info {
        float: none;
        width: 412px;
        margin-left: 24px;
    }
    .img-face {
        position: absolute;
        top: 12px;
        left: -25px;
    }
    .title {
        font-size: 30px;
        padding-right: 0;
    }
    .title-color {
        font-size: 30px;
    }
    .text {
        padding: 10px 0;
    }
    .updates {
        margin-right: 83px;
    }
    .sub-link {
        font-weight: 800;
    }
    .brand {
        padding: 20px 28px;
    }
    .description {
        padding: 80px 0 50px;
    }
    .description__item,
    .description__item1 {
        width: 100%;
        margin: 0 0 55px 0;
    }
    footer {
        padding: 30px 0 60px;
    } 
    .menu-footer {
        padding-bottom: 20px;
    }
    .menu-footer li {
        padding-left: 43px;
        margin-bottom: 15px;
    }
    .menu-footer a:hover {
        border: none;
        color: #553c61;
    }
    .designer {
        float: none;
        margin: 0;
        text-align: center;
    }
}

/* RESPONSIVE DESIGN */

@media(max-width: 480px) {
    .container {
        width: 320px;
    }
    .drop-down__menu {
        width: 245px;
        margin: 0 18px;
    }
    .menu-home {
        width: 40px;
        border-bottom: 2px solid #edbfff;
        margin: 0 auto;
        padding: 1px 0;
    } 
    .menu-home:hover {
        width: 245px;
        color: #fff; 
    }
    .menu,
    .drop-down {
        display: none;
    }
    .header-slider {
        background: none;
        padding: 85px 0;
    }
    .header-title {
        padding: 0;
        text-align: center;
    }
    .subtitle {
        font-size: 16px;
    }
    .phone {
        display: none;
    }
    .company {
        width: 350px;
        position: relative;
    }
    .company-info {
        width: 300px;
    }
    .company-more {
        margin-top: 20px;
    }
    .user-info {
        float: right;
        width: 300px;
        margin-left: 0;
        padding: 25px 35px; 
    }
    .updates {
        width: 100%;
        margin-right: 0;
    }
    .brand {
        padding: 20px 24px;
    }
    .description {
        display: none;
    }
    .menu-footer {
        display: none;
    }
}
