body { 
    margin: 0;
	padding: 0;
}
.page { 
	width: 800px;
	margin: 5px auto 10px;
	border: 1px solid gray;
	box-shadow: 0 0 10px;
	padding: 10px 20px;
	text-align: center;
}
.header, .conteiner{
	width: 700px;
	margin: 0 auto;
	text-align: center;
}
.conteiner{
	margin-top: 20px;
	padding-top: 20px;
	border-top: 1px solid gray;
	text-align: left;
}	
ul { 
	padding-left: 15px; 
	text-align: justify;
}
li { 
	padding-left: 18;
	text-align: justify;
	margin-top: 5px;
}
.link a {
	width: auto;
	height: auto;
	padding-left: 16px;
}
.list p { 
	padding-left: 16px;
 	text-align: justify;
 	margin-top: 5px;
 	margin-bottom: 10px;
}


