* {	margin: 0px;
	padding: 0px;
}
body, html { 
	height: 100%;
	margin: 0;
	padding: 0;
}
.clearfix:after {
	content: '';
	clear: both;
	display: block;
}
.wrapper {
	margin: 0px auto;
	height: 100%;
	display: table;
	overflow: hidden;
	table-layout: fixed;
  	width: 1000px;
  	background-color: #ffffff;
}
.w1 {
	display: table-row;
	height: 100%;
}
.container {
	width: 966px;
	padding: 0 15px;
	margin: 0 auto;
}
.header img { 
	padding-top: 50px;
	padding-bottom: 40px;
}
.header-nav a:hover {
	background-color: #3e3e3e;
	border-right: 1px solid #838383;
	border-left: 1px solid #838383;
	
}
.header-nav {
	float: left;
	background-color: #484747;
	width: 100%;
	margin-bottom: 40px;	
}
.header-nav a {
	padding: 9px 36px 13px 40px;
	text-decoration: none;
	color: #e3e3e3;
	font-family:  Tahoma;
	font-size: 15px;
	display: block;
	text-align: center;
}
.header-nav li {
	float: left;
	display: block;
}
.sidebar {
	float: left;
	height: 100%;
	width: 238px;
	border-top: 1px solid gray;
	border-left: 1px solid gray;
	border-right: 1px solid gray;
}
.sidebar li {
	border-bottom: 1px solid gray;
}	

.sidebar a {
	display: block;
	padding-left: 35px;
	padding-right: 20px;
	padding-top: 17px;
	padding-bottom: 15px;
	text-decoration: none;
	color: #2c2c2c;
}
.sidebar a:hover {
	background-color: #f9f9f9;
	padding-left: 45px;
}
ul {
	list-style-type: none;
	margin: 0px; 
}
.content { 
	float: right;
	width: 676px;
}
.imgwrap img { 
	display: block;
	max-width: 100%;
	margin: 0 auto;
}
.imgwrap {
	border:  1px solid gray;
	text-align: center;
}
.content p {
	padding-top: 40px;
	
}
.footer {
	background-color: #e1e1e1;
	overflow: hidden;
	margin-top: 60px;
}
footer a {
	float: left;
	list-style-type: none;
	padding: 9px 36px 13px 40px;
	text-align: center;
	text-decoration: none;
	color: #2c2c2c;
}	
footer p {
	float: right;
	padding-right: 15px;
	padding-top: 9px;
}
footer ul {
	text-decoration: underline;
}

