//Colours should always only appear in this colours.scss

$white: 		#fff;
$whitesmoke:	#f7f7f7;
$blue: 	    	#248cec;
$black:  		#000;
$silverblack:   #35383c;
$gray:			#57595c;
$dimgray:  		#2a2d32;
$darkgray:      #282828;
$lightgray:		#cccccc;
$gold:	    	#f4b60d;	
$gainsboro:		#e9e9ea;

