body {
    background: url('../images/1.jpg') no-repeat;
    
    margin: 0;
    padding: 0;
    font: 15px/1.5 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #4E443C;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.75);
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Arvo', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  text-align: center;
  font-weight: normal;
  text-rendering: optimizelegibility;
}
h1 {
    color: #4E443C;
    font-size: 36px;
    font-weight: bold;
}
h2, h2 a {
    color: #F14E32;
}
h3, h3 a {
  color: #4E443C;
}
a {
  color: #0388A6;
}
pre {
  border:1px solid #000;
  overflow-x:auto;
  background: #222;
  color: #fff;
  text-shadow: none;
}
.wrapper {
    max-width: 620px;
    padding: 0 20px 40px 20px;
    margin: auto;
    margin-bottom: 200px;
}

.content {
    width:80%;
    max-width:1000px;
    margin:0 auto;
}
.logo {
  position: absolute;
  top: 25px;
  left: 50px;
}
nav {
  background-color: #4E443C;
  padding:10px 0;
}
nav ul {
    list-style-type:none;
    margin:0;
    padding:0;
}
nav ul li {
    display:inline-block;
    position:relative;
    z-index: 1;
}

/* sub navigation */
nav li ul {    
    background-color: #4E443C;
    position:absolute;
    left:0;
    top:40px; /* make this equal to the line-height of the links (specified below) */
    width:200px;
}
nav li li {
    position:relative;
    margin:0;
    display:block;
}
nav li li ul {
    position:absolute;
    top:0;
    left:200px; /* make this equal to the width of the sub nav above */
    margin:0;
}

/* style all links */
nav a {
    line-height:40px;
    padding:0 12px;
    margin:0 12px;
}
nav a {
    color:#fff;
    text-decoration:none;
    display:block;
}
nav a:hover,
nav a:focus,
nav a:active {
    color:#f26f21;
}
/* style sub level links */
nav li li a {
    border-bottom:solid 1px #f0a368;
    margin:0 10px;
    padding:0;
}
nav li li:last-child a {
    border-bottom:none;
}
/* show arrows for dropdowns */
nav li.dropdown > a {
    background-image:url('../img/arrow-down.png');
    background-position:right 20px;
    background-repeat:no-repeat;
}

nav li li.dropdown > a {
    background-image:url('../img/arrow-right.png');
    background-position:right 16px;
    background-repeat:no-repeat;
}
/* hide sub menu links */
ul.sub-menu {
    display:none;
}

.mfs-container {
  position: absolute;
  top: 35px;
  left: 1200px; 
}
/* checkbox */

.jqery_chek {
  text-align: center;
    position: absolute;
    top: 600px;
    left: 20px;
    width: 300px;
    float: left;
    overflow: hidden;
}
.jqery_chek label {
  cursor: pointer;
}
.text {
  margin: 0 auto;
  padding: 10px;
  background-color: black;
  color: #fff;
  opacity: 0.7; 
}
.css_chek {
  text-align: center;
    position: absolute;
    top: 600px;
    left: 1020px;
    width: 300px;
    float: left;
    overflow: hidden;
}
.niceCheck {
  height: 17px;
  width: 17px;
  margin-left: 25px;
  margin-top: 3px;
  vertical-align: middle;
  display: inline-block;
  cursor: pointer;
  background: url(../img/customCheck.png) 0 0 no-repeat;
}
.niceCheck input {
    display: none;
}
.check {
  position: absolute;
  clip: rect(0, 0, 0, 0);
}
.css_label {
  cursor: pointer;
  display: inline-block;
  width: 200px;
}
.css_label:after {
  content: "";
  display: inline-block;
  width: 17px;
  height: 17px;
  background: url(../img/customCheck.png) 0 0 no-repeat;
  position: relative;
  margin-left: 25px;
  margin-top: 3px;
  vertical-align: middle;
}
.check:checked+.css_label:after {
  background: url(../img/customCheck.png) 0 -17px no-repeat;
}
.check:disabled+.css_label:after {
  background: url(../img/customCheckDisabled.png) 0 -17px no-repeat;
}