.content-info {
	padding-top: 72px;
	padding-bottom: 88px;
}
.blok-info {
	float: left;
	width: 360px; 
	margin-right: 40px;
	&:last-child {
		margin: 0;
	}
}
.number {
	font-family: $font-base;
	font-size: $fontSize-xlarg;
	color: $gainsboro;
	margin-right: 18px;
	display: inline-block;
	vertical-align: top;
}
.box {
	width: 235px;
	display: inline-block;
}
.icon-box {
	display: inline-block;
	padding: 27px 0 6px 4px;
}
.title {
	font-family: $font-base;
	font-size: $fontSize-larger;
	color: $black;
}
.info {
	font-family: Arial, sans-serif;
	font-size: $fontSize-smaller;
	color: $gray;
	line-height: 20px;
}
.link-more {
	span {
		font-family: $font-base;
		font-size: $fontSize-smaller;
		color: $black;
		&:hover {
			color: $blue;
		}
	}
}
